@CHARSET "UTF-8";

/*
Base color: C78F40
http://www.colormatch.dk/

-- choclate --
ockerorange: C68F41
das oben in blass: C6AB84
blass: C6B9A5
zwischen blass und braun / weiße schrift: 846B49
braun / weiße schrift: 423524
zwischen braun und braunschmutzblass: 958063
braunschmutzblass: ADA090	

komplementärfarben:
C68F41	C6AB84	C6B9A5	846B49	423524	958063	ADA090

-- sand --
EADB98	EAE3C1	EAE6D6	9C9577	4E4A3B	AFAA91	CCC8BA
*/


/**
 * gara.jswt.List
 *
 */
.sand ul.jsWTList {
	border: 1px solid #000;
	overflow: auto;
	background-color: #EAE6D6;
	padding: 5px;
}

.sand ul.jsWTList li span {
	border: 1px solid #EAE6D6;
	background-color: #EAE6D6;
	color: #000;
	font-family: Verdana;
	font-size: 85%;
	padding-top: 3px;
	padding-bottom: 3px;
}

.sand ul.jsWTListActive li.selected span {
	border: 1px solid #9C9577;
	background-color: #9C9577;
	color: #FFF;
}

.sand ul.jsWTListActive li.active span {
	border: 1px dashed #000;
}

.sand ul.jsWTListInactive li.selected span {
	border: 1px solid #CCC8BA;
	background-color: #CCC8BA;
	color: #000;
}

/**
 * gara.jswt.Tree
 */
.sand ul.jsWTTree {
	border: 1px solid #000;
	overflow: auto;
	background-color: #EAE6D6;
	padding: 5px;
}

.sand .jsWTTreeLines ul {
	background-image: url('line.gif');
}

.sand .jsWTTreeLines li {
	background-image: url('join.gif');
}

.sand ul.jsWTTree li span.text {
	border: 1px solid #EAE6D6;
	background-color: #EAE6D6;
	color: #000;
	font-family: Verdana;
}

.sand ul.jsWTTree li span:hover.text {
}

.sand ul.jsWTTreeActive li span.selected {
	border: 1px solid #9C9577;
	background-color: #9C9577;
	color: #FFF;
}

.sand ul.jsWTTreeActive li span:hover.selected {
}

.sand ul.jsWTTreeActive li span.active {
	border: 1px dashed #000;
}

.sand ul.jsWTTreeInactive li span.selected {
	border: 1px solid #CCC8BA;
	background-color: #CCC8BA;
	color: #000;
}

.sand .jsWTTreeLines li.bottom {
	background-image: url('joinbottom.gif');
}

.sand .jsWTTreeLines ul.bottom {
	background-image: none;
}

.sand ul.jsWTTree li span.togglerExpanded {
	background-image: url('collapse.gif');
}

.sand ul.jsWTTree li span.togglerCollapsed {
	background-image: url('expand.gif');
}

/**
 * gara.jswt.TabFolder
 */
.sand div.jsWTTabFolder {
}

.sand ul.jsWTTabbar {
	height: 23px;
}

.sand ul.jsWTTabbar li {
	cursor: default;
	float: left;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border: 1px solid #000;
	margin-right: -1px;
	font-family: Verdana;
	background-color: #EAE6D6;
	color: #000;
}

.sand div.jsWTTabFolderActive ul.jsWTTabbar li:hover {
	background-color: #9C9577;
	color: #FFF;
}

.sand div.jsWTTabFolderActive ul.jsWTTabbar li.active {
	background-color: #9C9577;
	color: #FFF;
	padding-top: 3px;
	padding-bottom: 3px;
}

.sand div.jsWTTabFolderInactive ul.jsWTTabbar li.active {
	background-color: #CCC8BA;
	color: #000;
	padding-top: 3px;
	padding-bottom: 3px;
}

.sand ul.jsWTTabbarTop li {
	margin-top: 2px;
}

.sand div.jsWTTabFolderActive ul.jsWTTabbarTop li:hover {
}

.sand div.jsWTTabFolderActive ul.jsWTTabbarTop li.active {
	border-bottom-color: #9C9577;
	margin-top: 0;
}

.sand div.jsWTTabFolderInactive ul.jsWTTabbarTop li.active {
	border-bottom-color: #CCC8BA;
	margin-top: 0;
}

.sand ul.jsWTTabbarBottom li {
	margin-top: -1px;
	margin-bottom: 2px;
}

.sand div.jsWTTabFolderActive ul.jsWTTabbarBottom li:hover {
}

.sand div.jsWTTabFolderActive ul.jsWTTabbarBottom li.active {
	border-top-color: #9C9577;
	margin-bottom: 0;
}

.sand div.jsWTTabFolderInactive ul.jsWTTabbarBottom li.active {
	border-top-color: #CCC8BA;
	margin-bottom: 0;
}

.sand div.jsWTTabFolder div.jsWTTabClientArea {
	border: 1px solid #000;
}

/**
 * gara.jswt.Table
 EADB98	EAE3C1	EAE6D6	9C9577	4E4A3B	AFAA91	CCC8BA
 */
 
.sand table.jsWTTable {
	border-collapse: separate;
}

.sand table.jsWTTable thead tr th {
	padding: 2px;
	background-color: #9C9577;
	color: #FFF;
	border: 1px solid;
	border-left-color: #EAE6D6; 
	border-top-color: #EAE6D6;
	border-right-color: #4E4A3B;
	border-bottom-color: #4E4A3B;
	cursor: default;
}

.sand table.jsWTTable thead tr th span {
	margin-top: -3px;
	margin-right: -4px !important;
	margin-bottom: -3px;
	height: 22px;
}

.sand table.jsWTTable tbody tr td {
	padding: 2px;
	cursor: default;
}

.sand table.jsWTTableLines tbody tr td {
	border-bottom: 1px solid #000;
}

.sand table.jsWTTableNoLines tbody tr td {
	border-bottom: none;
}

.sand table.jsWTTableFullSelection tbody tr.selected {
	background-color: #EAE6D6;
}

.sand table.jsWTTable tbody tr td.selected {
	background-color: #EAE6D6;
}

/* Menu Widget */
.sand ul.jsWTMenu {
	margin: 0;
	padding: 0;
	background-image: none;
	background-color: #CCC8BA;
	border: 1px solid #000;
}

.sand ul.jsWTMenu li {
	margin: 3px;
	border: 1px solid #CCC8BA;
	padding-left: 2px;
	padding-right: 2px;
	background-image: none;
}

.sand ul.jsWTMenu li span {
	border: none;
	padding: 0;
	margin: 0;
}

.sand ul.jsWTMenu li img {
}

.sand ul.jsWTMenu li.active {
/*	border: 1px dotted #000;*/
}

.sand ul.jsWTMenu li:hover,
.sand ul.jsWTMenu li.hover {
/*	background-color: #FFF;*/
	background-color: #EAE6D6;
	border: 1px solid #000;
}

.sand ul.jsWTMenu li:hover span {
	/*background-color: #EAE6D6;*/
}

.sand ul.jsWTMenuBar {
	margin: 0;
	padding: 0;
	background-image: none;
	background-color: #CCC8BA;
	border: none;
	height: 29px;
}

.sand ul.jsWTMenuBar li {
	float: left;
	position: relative;
}

.sand ul.jsWTMenuPopUp,
.sand ul.jsWTMenuDropDown {
	margin: 0;
	padding: 0;
	background-image: none;
	background-color: #CCC8BA;
	border: 1px solid #000;
}

.sand ul.jsWTMenuPopUp li,
.sand ul.jsWTMenuDropDown li {
	margin: 3px;
	border: 1px solid #CCC8BA;
	padding-left: 2px;
	padding-right: 2px;
	background-image: none;
	float: none;
}

.sand ul.jsWTMenuPopUp li span,
.sand ul.jsWTMenuDropDown li span {
	border: none;
	padding: 0;
	margin: 0;
}

.sand ul.jsWTMenuPopUp li img,
.sand ul.jsWTMenuDropDown li img {
}

.sand ul.jsWTMenuPopUp li.active,
.sand ul.jsWTMenuDropDown li.active {
/*	border: 1px dotted #000;*/
}

.sand ul.jsWTMenuPopUp li:hover,
.sand ul.jsWTMenuDropDown li:hover {
/*	background-color: #FFF;*/
	background-color: #EAE6D6;
	border: 1px solid #000;
}

.sand ul.jsWTMenuPopUp li:hover span,
.sand ul.jsWTMenuDropDown li:hover span {
	/*background-color: #EAE6D6;*/
}

.sand ul.jsWTMenuBar ul.jsWTMenuDropDown {
	margin-left: -1px !important;
	margin-top: 0 !important;
	margin-top: 18px;
	white-space: nowrap;
	left: 0;
}

/* IE7 hack*/
.sand ul.jsWTMenuBar ul.jsWTMenuDropDown {
	*margin-top: 18px !important;
}

.sand ul.jsWTMenuBar ul.jsWTMenuDropDown ul {
	*margin-top: 0 !important;
}

.sand ul.jsWTMenuDropDown {
	width: 150px;
}

.sand ul.jsWTMenuPopUp li,
.sand ul.jsWTMenuDropDown li {
	width: 138px !important;
	width: 144px;
}

/* the chain jsWTMenuBar jsWTMenuDropDown is because IE6 needs some readjusment */
.sand ul.jsWTMenuBar ul.jsWTMenuDropDown  li ul,
.sand ul.jsWTMenuPopUp li ul,
.sand ul.jsWTMenuDropDown li ul {
	top: -2px;
	left: 145px;
	margin-top: 0;
	margin-left: -3px !important;
}

.sand ul.jsWTMenuPopUp li.jsWTMenuItemCascade,
.sand ul.jsWTMenuDropDown li.jsWTMenuItemCascade {
	background-image: url('arrow.gif');
	background-position: 135px 8px;
	background-repeat: no-repeat;	
}

.sand ul.jsWTMenuPopUp li.jsWTMenuItemSeparator,
.sand ul.jsWTMenuPopUp li.jsWTMenuItemSeparator:hover,
.sand ul.jsWTMenuDropDown li.jsWTMenuItemSeparator,
.sand ul.jsWTMenuDropDown li.jsWTMenuItemSeparator:hover {
	border: 1px solid #CCC8BA;
	background-color: #CCC8BA;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.sand ul.jsWTMenuBar li.jsWTMenuItemSeparator,
.sand ul.jsWTMenuBar li.jsWTMenuItemSeparator:hover {
	border: none;
	border-left: 1px solid #777;
	background-color: #CCC8BA;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	height: 23px;
}

/* Dialog */
div.jsWTDialog {
	
}

div.jsWTDialogBar {
	/*background: url('left.gif') no-repeat;*/
	line-height: 16px;
	cursor: default;
}

/* This div is only because of IE6 grrrrr */
div.jsWTDialogBarLeft {
	background: url('left.gif') no-repeat;
	width: 9px;
	height: 26px;
	float: left;
}

div.jsWTDialogBarText {
	background: url('bar.gif') repeat-x;
	padding: 5px 5px 5px 0;
	height: 16px;
}

div.jsWTDialogBarButtons {
	background: url('right.gif') no-repeat right top;
	padding: 5px;
	height: 16px;
}

span.jsWTDialogCancelButton {
	background: url('close.gif') no-repeat;
	width: 14px;
	height: 14px;
	display: block;
	margin: 1px 2px 0 0;
}

span.jsWTDialogCancelButton:hover {
	background: url('close_hover.gif');
}

div.jsWTDialogContent {
	border: 1px solid #B7AE88;
}
