@CHARSET "UTF-8";

h1 {
	clear: both;
}

h2 {
	border: 1px solid #000;
	background-color: #CCCCFF;
	padding: 5px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

table thead {
	background-color: #EEEEFF;
	border: 2px outset #000;
}

table td {
	border: 2px outset #000;
	padding: 2px;
}

table.own td tt a {
	font-weight: bold;
}

table td.returnType {
	font-family: monospace;
	vertical-align: top;
	text-align: right;
	padding-top: 6px;
	padding-right: 3px;
	width: 140px;
}

table td span.description {
	display: block;
	margin-left: 20px;
}

p.description, dl {
	margin-left: 40px;
}

dl dt {
	font-weight: bold;
}

ul.nav {
	text-align: center;
	margin: 0;
	padding: 0;
	margin-left: 45%;
}

ul.nav li {
	float: left;
	list-style-type: none;
}

ul.nav li a, ul.nav li a:link, ul.nav li a:visited {
	display: block;
	background-color: #CCCCFF;
	padding: 3px;
	font-size: 1em;
	color: #000;
	font-family: Arial, Verdana, Helvetica;
}

ul#nav {
	margin-left: 0;
	padding-left: 0;
}

ul#nav li {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}