@CHARSET "UTF-8";

/* YAHOO! CSS Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,img { 
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}


/* Website */
body {
	background: #6FAAEE;
	text-align: center;
}

ul, ol, p {
	margin-top: 5px;
	margin-bottom: 10px;
}


ul, ol {
	list-style-position: outside;
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}

li {
	list-style-type: disc;
}


div#site {
	width: 702px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: left;
	border: 1px solid #848484;
	background: #FFFFFF;
	-moz-border-radius: 11px;
}

ul#nav {
	height: 18px;
	background-image: url('images/nav_white.gif');
	background-repeat: repeat-x;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

ul#nav li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: block;
	float: left;
	font: 10px/18px "Lucida Grande", verdana, sans-serif;
	text-align: center;
}

ul#nav li a {
	color: #000;
	text-decoration: none;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
}

ul#nav li a:hover {
	height: 18px;
	background-image: url('images/nav_blue.gif');
	background-repeat: repeat-x;
}

div#content {
	font-family: Georgia, "Times New Roman", Georgia Times serif;
	font-size: 13px;
	padding: 10px;
	line-height: 20px;
	letter-spacing: 0;
}

div#footer {
	font: 10px/18px "Lucida Grande", verdana, sans-serif;
	vertical-align: bottom;
	text-align: right;
	clear: both;
	padding: 15px 10px 5px 10px;
}

div#footer a img {
	border: 0;
}

h1 {
	font-family: Tahoma, Verdana, Helvetica, Arial;
	font-size: 26px;
	padding: 3px 0 7px 15px;
	background-color: #F9FF9A;
	border: 1px solid #848484;
	border-bottom: 0;
	-moz-border-radius-topleft: 11px;
	-moz-border-radius-topright: 11px;
	width: 687px;
	margin: -1px 0 0 -1px;
}

h2 {
	font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #0F5EBF;
	margin-bottom: 10px;
}

h3 {
	font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
	color: #64A5EB; /* #6FAAEE */
	font-size: 14px;
	font-weight: bolder;
	margin-top: 13px;
	margin-bottom: 9px;

}

div.info {
	margin-right: 5px;
	padding: 5px;
	border: 1px dashed #B4B4B4;
	background-color: #F1F1F1;
	font-family: Verdana, Helvetica, Arial;
	font-size: 11px;
	float: right;
	clear: right;
	width: 120px;
}

a, a:link, a:visited {
	color: #317B30;
}