/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.gara.Menu
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */

.sand .garaMenu {
	margin: 0;
	padding: 0;
	background: none;
}

.sand .garaMenuItem {
	border: 0;
	background: none;
	padding: 0 5px;
}

.sand .garaMenuItemImage {
	margin-top: -2px;
	padding: 1px 0;
}

.sand .garaMenuItemText {
	line-height: 18px;
	font-size: 11px;
	font-family: Verdana;
	border: none;
	padding: 0;
	margin: 0;
}

.sand .garaMenu .garaActiveItem {
	background-color: #EAE6D6;
	color: #000;
}

.sand .garaMenuItem[aria-disabled=true] > .garaMenuItemText {
	color: #777;
}

.sand .garaMenuItem[aria-disabled=true] > .garaMenuItemImage {
	opacity: 0.5;
}

.sand .garaMenuBar {
	margin: 0;
	padding: 0;
	background-image: none;
	background-color: #E2DED0; /* #CCC8BA */
	height: 21px;
}

.sand .garaMenuBar .garaMenuItem {
	float: left;
	position: relative;
}

.sand .garaMenuBar .garaMenuItemText {
	line-height: 21px;
}

.sand .garaMenuPopUp,
.sand .garaMenuDropDown {
	margin: 0;
	padding: 2px;
	background-image: none;
	background-color: #E2DED0;
	color: #000;
	border: 1px solid #B7AE88;
	min-width: 150px;
}

.sand .garaMenuPopUp .garaMenuItem,
.sand .garaMenuDropDown .garaMenuItem {
	background-image: none;
	float: none;
}

.sand .garaMenuPopUp .garaMenuItemText,
.sand .garaMenuDropDown .garaMenuItemText {
	border: none;
	padding: 0;
	margin: 0;
	line-height: 18px;
}

.sand .garaMenuBar .garaMenuDropDown {
	margin-left: -1px !important;
	margin-top: 0 !important;
	margin-top: 18px;
	white-space: nowrap;
	left: 1px;
}

.sand .garaMenuItemCheck,
.sand .garaMenuItemRadio {
	background-repeat: no-repeat;
	padding-left: 14px;
}

.sand .garaMenuItemCheck[aria-checked=true] {
	background-position: 4px 8px;
	background-image: url('checked.png'); /** sprite-ref: menu; sprite-margin-left: 4px; sprite-margin-top: 8px; */
}

.sand .garaMenuItemRadio[aria-checked=true] {
	background-position: 5px 8px;
	background-image: url('dot.png'); /** sprite-ref: menu; sprite-margin-left: 5px; sprite-margin-top: 8px; */
}

/* IE hacks */
.sand .garaMenuBar .garaMenuDropDown {
	*margin-top: 17px !important;
	*margin-top: 16px;
}

.sand .garaMenuBar .garaMenuDropDown .garaMenu {
	*margin-top: 0 !important;
}

/* the chain garaMenuBar garaMenuDropDown is because IE6 needs some readjusment */
.sand .garaMenuBar .garaMenuDropDown .garaMenu,
.sand .garaMenuPopUp .garaMenu,
.sand .garaMenuDropDown .garaMenu {
	top: -2px;
	left: 145px;
	margin-top: 0;
	margin-left: -3px !important;
}

.sand .garaMenuPopUp .garaMenuItemCascade,
.sand .garaMenuDropDown .garaMenuItemCascade {
	/*background-position: right center;*/
	background-position: 135px 6px;
	background-repeat: no-repeat;
	background-image: url('arrow.gif');  /** sprite-ref: menu; sprite-margin-left: 135px; sprite-margin-top: 8px; */
}

.sand .garaMenuBar .garaMenuItemSeparator {
	border: none;
	width: 5px;
	margin: 0;
	padding: 0;
	height: 21px;
}

.sand .garaMenuPopUp .garaMenuItemSeparator,
.sand .garaMenuDropDown .garaMenuItemSeparator {
	background: none;
	margin: 0;
	padding: 0;
	height: auto;
	width: auto;
	border: 0;
}

.sand .garaMenuPopUp .garaMenuItemSeparatorLine,
.sand .garaMenuDropDown .garaMenuItemSeparatorLine {
	border: none;
	border-top: 1px solid #BBB;
}

/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * .garaToolbar
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */

.sand .garaToolbar {
	/*background-color: #EAE6D6; /*#E9E7EB;*/
	background-color: #E2DED0; /*#D9D4C0 #DEDAC9 #E2DED0*/
	height: 24px;
}

.sand .garaToolbar > .garaMenuItem {
	margin: 1px 0;
}

.sand .garaToolbar > .garaMenuItemCheck,
.sand .garaToolbar > .garaMenuItemRadio,
.sand .garaToolbar > .garaMenuItemCheck[aria-checked=true],
.sand .garaToolbar > .garaMenuItemRadio[aria-checked=true] {
	background: none;
	padding-left: 0;
}

.sand .garaToolbar > .garaMenuItem > .garaMenuItemButton,
.sand .garaToolbar > .garaMenuItem[aria-pressed=false] > .garaMenuItemButton {
	height: 22px;
	display: inline-block;
	background-repeat: no-repeat;
 	padding-left: 9px;
 	margin-right: 5px;
}

.sand .garaToolbar > .garaMenuItem .garaMenuItemDoor,
.sand .garaToolbar > .garaMenuItem[aria-pressed=false] .garaMenuItemDoor {
	background-position: right;
	height: 21px;
	line-height: 20px;
	display: inline-block;
	padding: 1px 9px 0 0;
}

.sand .garaToolbar > .garaMenuItem[aria-checked=true] > .garaMenuItemButton {
	border: 1px solid #B6AD87;
	background-color: #FFF;
	-moz-border-radius: 7px;
	height: 20px;
	padding-left: 8px;
}

.sand .garaToolbar > .garaMenuItem[aria-checked=true] .garaMenuItemDoor {
	padding-top: 0;
	padding-right: 8px;
}

.sand .garaToolbar > .garaMenuItem .garaMenuItemButton:hover {
	border: none;
	background-color: transparent;
	height: 22px;
	padding-left: 9px;
	background-image: url('button-start.png'); /** sprite-ref: button; */
}

.sand .garaToolbar > .garaMenuItem > .garaMenuItemButton:hover .garaMenuItemDoor {
	padding-top: 1px;
	padding-right: 9px;
	background-image: url('button-end.png'); /** sprite-ref: button; sprite-alignment: right;*/
}


/** Pressed state, same as checked state above, hover needs to go between */
.sand .garaToolbar > .garaMenuItem[aria-pressed=true] > .garaMenuItemButton {
	border: 1px solid #B6AD87;
	background-color: #FFF;
	-moz-border-radius: 7px;
	height: 20px;
	padding-left: 8px;
	background-image: none;
	/*background-image: url('button-pressed-start.png'); /** sprite-ref: button; */
}

.sand .garaToolbar > .garaMenuItem[aria-pressed=true] > .garaMenuItemButton .garaMenuItemDoor {
	/*background-image: url('button-pressed-end.png'); /** sprite-ref: button; sprite-alignment: right; */
	padding-top: 0;
	padding-right: 8px;
	background-image: none;
}

.sand .garaToolbar > .garaActiveItem {
	background-color: #EAE6D6;
	color: #000;
}

.sand .garaToolbar > .garaMenuItem[aria-disabled=false].garaActiveItem > .garaMenuItemText {
	outline: 1px dotted #000;
}

.sand .garaToolbar > .garaMenuItem .garaMenuItemImage {
	margin: 0 4px 2px 0;
}

.sand .garaToolbar > .garaMenuItem .garaMenuItemText {
	line-height: 20px;
}

.sand ul.garaToolbar > .garaMenuItemButton[aria-haspopup=true] .garaMenuItemText {
	background-repeat: no-repeat;
	background-position: right 6px;
	background-image: url('arrow_down.png');
	padding-right: 10px;
}

.sand .garaToolbar > .garaMenuItem[aria-disabled=true] > .garaMenuItemButton {
	opacity: 0.5;
}