/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.gara.Checkbox
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
 
.sand .garaCheckbox {
	display: block;
	width: 13px;
	height: 13px;
	background-image: url('checkbox.png'); /** sprite-ref: checkbox; */ 
}

.sand .garaCheckboxGrayed {
	background-image: url('checkbox-grayed.png'); /** sprite-ref: checkbox; */
}

.sand .garaCheckboxChecked {
	background-image: url('checkbox-checked.png'); /** sprite-ref: checkbox; */
}

.sand .garaCheckboxGrayedChecked {
	background-image: url('checkbox-grayed-checked.png'); /** sprite-ref: checkbox; */
}
