/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.gara.Button
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
 
/** sprite: checkbox; sprite-image: url('sprite-checkbox.png'); */
/** sprite: radio; sprite-image: url('sprite-radio.png'); */


.sand .garaButtonHorizontal {
	display: inline-block;
}

.sand .garaButtonVertical {
	display: block;	
}

.sand .garaButtonPush {
	height: 22px;
	background-repeat: no-repeat;
 	background-image: url('button-start.png'); /** sprite-ref: button; */
 	padding-left: 9px;	
 	outline: none;
 	user-select: none;
 	-moz-user-select: none;
 	margin-right: 5px;
 	overflow: hidden;
}

.sand .garaButtonPush .garaButtonDoor {
	background-position: right;
	background-image: url('button-end.png'); /** sprite-ref: button; sprite-alignment: right;*/
	height: 21px;
	line-height: 20px;
	display: inline-block;
	padding: 1px 9px 0 0;
}

.sand .garaButtonPush[aria-pressed=true] {
	background-image: url('button-pressed-start.png'); /** sprite-ref: button; */
}

.sand .garaButtonPush[aria-pressed=true] .garaButtonDoor {
	background-image: url('button-pressed-end.png'); /** sprite-ref: button; sprite-alignment: right; */
}

.sand .garaButtonPush .garaButtonImage {
	margin: 0 4px -3px 0;
}

.sand .garaButtonPush .garaText {
	line-height: 20px;
}

.sand .garaButtonPush[aria-disabled=true] {
	opacity: 0.5;
}

.sand .garaButtonPush[aria-disabled=false]:focus .garaText {
	outline: 1px dotted #000;
}

/* general checkbox & radio styles */
.sand .garaButtonCheckbox,
.sand .garaButtonRadio {
	background: no-repeat;
	padding-left: 17px;
 	margin-right: 2px;
 	position: relative;
 	outline: none;
 	user-select: none;
 	-moz-user-select: none;
}

.sand .garaButtonCheckbox .garaButtonFocus,
.sand .garaButtonRadio .garaButtonFocus {
	position: absolute;
	top: 2px;
	left: 1px;
	width: 13px;
	height: 13px;
}

.sand .garaButtonCheckbox .garaButtonImage,
.sand .garaButtonRadio .garaButtonImage {
	margin-right: 2px;
	float: left;
}

.sand .garaButtonCheckbox .garaText,
.sand .garaButtonRadio .garaText {
	line-height: 16px;
	display: inline-block;
}

.sand .garaButtonCheckbox[aria-disabled=false]:focus .garaButtonFocus,
.sand .garaButtonRadio[aria-disabled=false]:focus .garaButtonFocus {
	outline: 1px dotted #000;
}

/* checkbox images */
.sand .garaButtonCheckbox {
	background-image: url('checkbox.png'); /** sprite-ref: checkbox; sprite-margin-left: 1px; sprite-margin-top: 2px;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */
}

.sand .garaButtonCheckbox[aria-checked=true] {
	background-image: url('checkbox-checked.png'); /** sprite-ref: checkbox;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */
}

.sand .garaButtonCheckbox[aria-disabled=true] {
	background-image: url('checkbox-grayed.png'); /** sprite-ref: checkbox;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */
}

.sand .garaButtonCheckbox[aria-disabled=true][aria-checked=true] {
	background-image: url('checkbox-grayed-checked.png'); /** sprite-ref: checkbox;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */
}

/* radio images */
.sand .garaButtonRadio {
	background-image: url('radio.png'); /** sprite-ref: radio;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */
}

.sand .garaButtonRadio[aria-checked=true] {
	background-image: url('radio-checked.png'); /** sprite-ref: radio;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */
}

.sand .garaButtonRadio[aria-disabled=true] {
	background-image: url('radio-grayed.png'); /** sprite-ref: radio;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */
}

.sand .garaButtonRadio[aria-disabled=true][aria-checked=true] {
	background-image: url('radio-grayed-checked.png'); /** sprite-ref: radio;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */
}