/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.gara.TabFolder
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */

.sand .garaTabFolder {
	position: relative;
	outline: none;
}

.sand .garaTabFolder .garaTabFolderMore {
	position: absolute;
	display: block;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid transparent;
	width: 10px;
	font-size: 77%;
	z-index: 202;
	background: 1px 1px no-repeat transparent;
	background-image: url('more.png'); /** sprite-ref: misc; sprite-margin-left: 1px; sprite-margin-top: 1px;*/
	padding-left: 9px;
	padding-top: 4px;
	cursor: default;
	margin-left: 5px;
}

.sand .garaTabFolder .garaTabFolderMore:hover {
	border-color: #765;
	background-color: #EAE6D6;
}

.sand .garaTabFolder:focus .garaTabFolderBar .garaActiveItem .garaTabItemText {
	outline: 1px dotted #000;
}

.sand .garaTabFolder .garaDecorationsCloseButton {
	visibility: hidden;
}

.sand .garaTabFolder .garaDecorationsCloseButton:hover {
	background-image: url('close_hover.png'); /** sprite-ref: misc; */
}

.sand .garaTabFolderBar .garaActiveItem .garaDecorationsCloseButton,
.sand .garaTabFolderBar .garaTabItem:hover .garaDecorationsCloseButton {
	visibility: visible;
}

.sand .garaTabFolder .garaTabClientArea {
	overflow: auto;
}

/*
 * Top Style
 */

.sand .garaTabFolderTopbar .garaTabFolderMore {
	top: 3px;
	right: 5px;
}

.sand .garaTabFolderTopbar .garaTabFolderBar {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 25px;
	border-bottom: 1px solid #B6AD87; /*#000*/
	position: relative;
	z-index: 1;
}

.sand .garaTabFolderTopbar .garaTabItem {
	cursor: default;
	float: left;
	background: no-repeat left top;
	background-image: url('stone_mud_left.png'); /** sprite-ref: stone-mud; */
	margin: 0;
	padding: 0 0 0 9px;
	border-bottom: 1px solid #B6AD87; /*#765*/
	position: relative;
	z-index: 2;
	bottom: 0 !important;
	bottom: -1px;
}

.sand .garaTabFolderTopbar .garaTabItemDoor {
	float: left;
	display: block;
/*	width: .1em;*/
	background: no-repeat right top;
	background-image: url('stone_mud_right.png'); /** sprite-ref: stone-mud; sprite-alignment: right;*/
	padding: 5px 15px 4px 6px;
	font-weight: bold;
	color: #765;
	white-space: nowrap;
	width: auto;
}

.sand .garaTabFolderTopbar .garaDecorationsCloseButton {
	margin: 1px 0 0 5px;
}

.sand .garaTabFolderTopbar .garaTabItemImage {
	float: left;
	display: block;
	padding-right: 3px;
	margin-left: -6px;
}

/*.sand div.garaTabFolderTopbar ul.garaTabFolderBar > ul .door {width:auto;}*/

.sand .garaTabFolderTopbar .garaActiveItem {
	background-image: url('stone_sand_left.png'); /** sprite-ref: stone-sand; */
	border-width: 0;
}

.sand .garaTabFolderTopbar .garaActiveItem .garaTabItemDoor {
	background-image: url('stone_sand_right.png'); /** sprite-ref: stone-sand; sprite-alignment: right;*/
	padding-bottom: 5px;
}

.sand .garaTabFolderTopbar .garaTabItem:hover {
	background-image: url('stone_sand_left.png'); /** sprite-ref: stone-sand; */
}

.sand .garaTabFolderTopbar .garaTabItem:hover .garaTabItemDoor {
	background-image: url('stone_sand_right.png'); /** sprite-ref: stone-sand; sprite-alignment: right;*/
}

/* safari 3 */
@media all and (min-width:0px) {
	body:not(:root:root) .sand .garaTabFolderTopbar .garaTabFolderBar {
		height: 24px;
	}
	
	body:not(:root:root) .sand .garaTabFolderTopbar .garaTabItemDoor {
		font-weight: normal;
	}
}

/* safari 4 */ 
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.sand .garaTabFolderTopbar .garaTabFolderBar {
		height: 24px;
	}
}

.sand .garaTabFolderTopbar .garaTabClientArea {
	border: 1px solid #B6AD87; /*#000*/
	border-width: 0px 1px 1px 1px;
	top: 0 !important;
	top: -1px;
	position: relative;
	z-index: 0;
}


/*
 * Bottom Style
 */

.sand .garaTabFolderBottombar .garaTabFolderBar {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 25px;
	border-top: 1px solid #000;
	position: relative;
}

.sand .garaTabFolderBottombar .garaTabItem {
	cursor: default;
	float: left;
	background: no-repeat left bottom;
	background-image: url('stone_mud_left_bottom.png'); /** sprite-ref: stone-mud; */
	margin: 0;
	padding: 0 0 0 9px;
	border-top: 1px solid #765;
	position: relative;
	top: -1px;
}

.sand .garaTabFolderBottombar .garaTabItemDoor {
	float: left;
	display: block;
/*	width:.1em;*/
	background: no-repeat right bottom;
	background-image: url('stone_mud_right_bottom.png'); /** sprite-ref: stone-mud; sprite-alignment: right; */
	padding: 3px 15px 7px 6px;
	font-weight: bold;
	color: #765;
	white-space: nowrap;
	width: auto;
}

.sand .garaTabFolderBottombar .garaTabItemImage {
	float: left;
	display: block;
	padding-top: 3px;
	padding-right: 3px;
}

/*.sand div.garaTabFolderBottombar ul.garaTabFolderBar > ul .door {width:auto;}*/

.sand .garaTabFolderBottombar .garaActiveItem {
	background-image: url('stone_sand_left_bottom.png'); /** sprite-ref: stone-sand;*/
	border-width: 0;
}

.sand .garaTabFolderBottombar .garaActiveItem .garaTabItemDoor {
	background-image: url('stone_sand_right_bottom.png'); /** sprite-ref: stone-sand; sprite-alignment: right; */
	padding-top: 4px;
	padding-bottom: 7px;
}

.sand .garaTabFolderBottombar .garaActiveItem .garaTabItemImage {
	padding-top: 4px;
}

.sand .garaTabFolderBottombar .garaTabItem:hover {
	background-image: url('stone_sand_left_bottom.png'); /** sprite-ref: stone-sand;*/
}

.sand .garaTabFolderBottombar .garaTabItem:hover .garaTabItemDoor {
	background-image: url('stone_sand_right_bottom.png'); /** sprite-ref: stone-sand; sprite-alignment: right; */
	padding-bottom: 7px;
}

/* safari 3 */
@media all and (min-width:0px) {
	/*body:not(:root:root) .sand div.garaTabFolderBottombar ul.garaTabFolderBar {
		height: 26px;
	}*/

	body:not(:root:root) .sand .garaTabFolderBottombar .garaTabIteDoor/*,
	body:not(:root:root) .sand .garaTabFolderBottombar .garaActiveItem .garaTabItemDoor*/ {
		padding-bottom: 8px;
	}
	
	body:not(:root:root) .sand .garaTabFolderBottombar .garaTabItemDoor {
		font-weight: normal;
	}
}

.sand .garaTabFolderBottombar .garaTabClientArea {
	border: 1px solid #000;
	border-width: 1px 1px 0 1px;
	position: relative;
	z-index: 200;
}