/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.jsface.dialogs.Dialog
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */

.sand .garaDialog {
	
}

.sand .garaDialogArea {
	/*height: auto;*/
	overflow: hidden;
	padding: 7px;
}

.sand .garaDialogButtonBar {
	height: auto;
	text-align: center;
	padding: 3px;
}


/**
 * Input Dialog
 */
.sand .garaInputDialog .garaLabel {
	display: block;
	padding-bottom: 5px;
}

.sand .garaInputDialog .garaText {
	margin: 0;
}


/**
 * Message Dialog
 */
.sand .garaMessageDialog {
	min-width: 250px;
}

/**
 * Icons
 */
.sand .garaIconError {
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	background-image: url('icon_error.png'); /** sprite-ref: icons; */
}
.sand .garaIconInformation {
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	background-image: url('icon_information.png'); /** sprite-ref: icons; */
} 
.sand .garaIconQuestion {
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	background-image: url('icon_question.png'); /** sprite-ref: icons; */
}
.sand .garaIconWarning {
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	background-image: url('icon_warning.png'); /** sprite-ref: icons; */
}
.sand .garaIconWorking {
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	background-image: url('icon_working.gif');
}
