/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.jswt.List
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */

.sand ul.jsWTList {
	border: none;
	overflow: auto;
	background-color: #FFF; /*#EAE6D6*/
}

.sand .jsWTTabClientArea div[role=tabpanel] > .jsWTList {
	border: 0;
}

.sand ul.jsWTList .jsWTCheckbox {
	margin: 3px 5px 0 5px;
}

.sand ul.jsWTList span.text {
	background-color: #FFF;
	color: #000;
	font-family: Verdana;
	font-size: 85%;
	line-height: 18px;
	padding: 1px 3px;
}

.sand ul.jsWTListFullSelection li img {
	float: left;
	margin-top: 1px;
}

.sand ul.jsWTListFullSelection li span.text {
	padding: 0;
}

/* === Selection === */
.sand ul.jsWTList li[aria-selected=true] span.text {
	background-color: #E1E0D9;
	color: #000;
}

.sand ul.jsWTList:focus li[aria-selected=true] span.text {
	background-color: #EAE6D6;
	color: #000;
}

/* --- checkbox & image --- */
.sand ul.jsWTList li[aria-selected=true] span.jsWTCheckbox,
.sand ul.jsWTListFullSelection li[aria-selected=true] img {
	opacity: 0.7;
	background-color: #E1E0D9;
}

.sand ul.jsWTList:focus li[aria-selected=true] span.jsWTCheckbox,
.sand ul.jsWTListFullSelection:focus li[aria-selected=true] img {
	opacity: 0.7;
	background-color: #EAE6D6;
}

/* === Active Item State === */
.sand ul.jsWTList:focus li.active span.text {
	outline: 1px dotted #000;
	margin-left: 1px;
	padding-left: 2px;
}

.sand ul.jsWTListFullSelection:focus li.active span.text {
	margin: 1px 1px 0 1px;
	line-height: 17px;
}

.sand ul.jsWTListFullSelection li.active img {
	margin-top: 0;
}

.sand ul.jsWTListFullSelection li.active span.jsWTCheckbox {
	margin: 2px 5px 0;
}
