html {
	height: 100%;
}

body.sand[role=application] {
	margin: 0;
	background-color: #F7F3E4;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	height: 100%;
}