/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.jswt.TabFolder
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */

.sand div.jsWTTabFolder {
	position: relative;
	outline: none;
}

.sand div.jsWTTabFolder span.more {
	position: absolute;
	display: block;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border: 1px solid transparent;
	width: 10px;
	font-size: 77%;
	z-index: 202;
	background: 1px 1px no-repeat transparent;
	background-image: url('more.png'); /** sprite-ref: misc; sprite-margin-left: 1px; sprite-margin-top: 1px;*/
	padding-left: 9px;
	padding-top: 4px;
	cursor: default;
	margin-left: 5px;
}

.sand div.jsWTTabFolder span.more:hover {
	border-color: #765;
	background-color: #EAE6D6;
}

.sand .jsWTTabFolder:focus .jsWTTabFolderBar li.active .text {
	outline: 1px dotted #000;
}

.sand .jsWTTabFolder span.jsWTDecorationsCloseButton {
	visibility: hidden;
}

.sand .jsWTTabFolder span.jsWTDecorationsCloseButton:hover {
	background-image: url('close_hover.png'); /** sprite-ref: misc; */
}

.sand .jsWTTabFolderBar li.active span.jsWTDecorationsCloseButton,
.sand .jsWTTabFolderBar li:hover span.jsWTDecorationsCloseButton {
	visibility: visible;
}

.sand .jsWTTabFolder .jsWTTabClientArea {
	overflow: auto;
}

/*
 * Top Style
 */

.sand div.jsWTTabFolderTopbar span.more {
	top: 3px;
	right: 5px;
}

.sand div.jsWTTabFolderTopbar ul.jsWTTabFolderBar {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 25px;
	border-bottom: 1px solid #000;
	position: relative;
	z-index: 1;
}

.sand div.jsWTTabFolderTopbar ul.jsWTTabFolderBar li {
	cursor: default;
	float: left;
	background: no-repeat left top;
	background-image: url('stone_mud_left.png'); /** sprite-ref: stone-mud; */
	margin: 0;
	padding: 0 0 0 9px;
	border-bottom: 1px solid #765;
	position: relative;
	z-index: 2;
	bottom: 0 !important;
	bottom: -1px;
}

.sand div.jsWTTabFolderTopbar ul.jsWTTabFolderBar .door {
	float: left;
	display: block;
	width: .1em;
	background: no-repeat right top;
	background-image: url('stone_mud_right.png'); /** sprite-ref: stone-mud; sprite-alignment: right;*/
	padding: 5px 15px 4px 6px;
	font-weight: bold;
	color: #765;
	white-space: nowrap;
}

.sand div.jsWTTabFolderTopbar ul.jsWTTabFolderBar .door {
	width: auto;
}

.sand div.jsWTTabFolderTopbar ul.jsWTTabFolderBar .jsWTDecorationsCloseButton {
	margin: 1px 0 0 5px;
}

.sand div.jsWTTabFolderTopbar ul.jsWTTabFolderBar img {
	float: left;
	display: block;
	padding-right: 3px;
	margin-left: -6px;
}

.sand div.jsWTTabFolderTopbar ul.jsWTTabFolderBar > ul .door {width:auto;}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.sand div.jsWTTabFolderTopbar ul.jsWTTabFolderBar .door {float:none;}
/* End IE5-Mac hack */

.sand div.jsWTTabFolderTopbar ul.jsWTTabFolderBar li.active {
	background-image: url('stone_sand_left.png'); /** sprite-ref: stone-sand; */
	border-width: 0;
}

.sand div.jsWTTabFolderTopbar ul.jsWTTabFolderBar li.active .door {
	background-image: url('stone_sand_right.png'); /** sprite-ref: stone-sand; sprite-alignment: right;*/
	padding-bottom: 5px;
}

.sand div.jsWTTabFolderTopbar ul.jsWTTabFolderBar li:hover {
	background-image: url('stone_sand_left.png'); /** sprite-ref: stone-sand; */
}

.sand div.jsWTTabFolderTopbar ul.jsWTTabFolderBar li:hover .door {
	background-image: url('stone_sand_right.png'); /** sprite-ref: stone-sand; sprite-alignment: right;*/
}

/* safari 3 */
@media all and (min-width:0px) {
	body:not(:root:root) .sand div.jsWTTabFolderTopbar ul.jsWTTabFolderBar {
		height: 24px;
	}
	
	body:not(:root:root) .sand div.jsWTTabFolderTopbar ul.jsWTTabFolderBar .door {
		font-weight: normal;
	}
}

/* safari 4 */ 
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.sand div.jsWTTabFolderTopbar ul.jsWTTabFolderBar {
		height: 24px;
	}
}

.sand div.jsWTTabFolderTopbar div.jsWTTabClientArea {
	border: 1px solid #000;
	border-width: 0px 1px 1px 1px;
	top: 0 !important;
	top: -1px;
	position: relative;
	z-index: 0;
}


/*
 * Bottom Style
 */

.sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 25px;
	border-top: 1px solid #000;
	position: relative;
}

.sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar li {
	cursor: default;
	float: left;
	background: no-repeat left bottom;
	background-image: url('stone_mud_left_bottom.png'); /** sprite-ref: stone-mud; */
	margin: 0;
	padding: 0 0 0 9px;
	border-top: 1px solid #765;
	position: relative;
	top: -1px;
}

.sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar .door {
	float: left;
	display: block;
	width:.1em;
	background: no-repeat right bottom;
	background-image: url('stone_mud_right_bottom.png'); /** sprite-ref: stone-mud; sprite-alignment: right; */
	padding: 3px 15px 7px 6px;
	font-weight: bold;
	color: #765;
	white-space: nowrap;
}

.sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar .door {
	width: auto;
}

.sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar img {
	float: left;
	display: block;
	padding-top: 3px;
	padding-right: 3px;
}

.sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar > ul .door {width:auto;}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar span {float:none;}
/* End IE5-Mac hack */

.sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar li.active {
	background-image: url('stone_sand_left_bottom.png'); /** sprite-ref: stone-sand;*/
	border-width: 0;
}

.sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar li.active .door {
	background-image: url('stone_sand_right_bottom.png'); /** sprite-ref: stone-sand; sprite-alignment: right; */
	padding-top: 4px;
	padding-bottom: 7px;
}

.sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar li.active img {
	padding-top: 4px;
}

.sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar li:hover {
	background-image: url('stone_sand_left_bottom.png'); /** sprite-ref: stone-sand;*/
}

.sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar li:hover .door {
	background-image: url('stone_sand_right_bottom.png'); /** sprite-ref: stone-sand; sprite-alignment: right; */
	padding-bottom: 7px;
}

/* safari 3 */
@media all and (min-width:0px) {
	/*body:not(:root:root) .sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar {
		height: 26px;
	}*/

	body:not(:root:root) .sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar li .door,
	body:not(:root:root) .sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar li.active .door {
		padding-bottom: 8px;
	}
	
	body:not(:root:root) .sand div.jsWTTabFolderBottombar ul.jsWTTabFolderBar .door {
		font-weight: normal;
	}
}

.sand div.jsWTTabFolderBottombar div.jsWTTabClientArea {
	border: 1px solid #000;
	border-width: 1px 1px 0 1px;
	position: relative;
	z-index: 200;
}