/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.jsface.dialogs.Dialog
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */

.sand .jsWTDialog {
	
}

.sand .jsWTDialogArea {
	height: auto;
	overflow: hidden;
	padding: 7px;
}

.sand .jsWTDialogButtonBar {
	height: auto;
	text-align: center;
	padding: 3px;
}


/**
 * Input Dialog
 */
.sand .jsWTInputDialog .jsWTLabel {
	display: block;
	padding-bottom: 5px;
}

.sand .jsWTInputDialog .jsWTText {
	margin: 0;
}


/**
 * Message Dialog
 */
.sand .jsWTMessageDialog {
	min-width: 250px;
}

/**
 * Icons
 */
.sand .jsWTIconError {
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	background-image: url('icon_error.png'); /** sprite-ref: icons; */
}
.sand .jsWTIconInformation {
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	background-image: url('icon_information.png'); /** sprite-ref: icons; */
} 
.sand .jsWTIconQuestion {
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	background-image: url('icon_question.png'); /** sprite-ref: icons; */
}
.sand .jsWTIconWarning {
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	background-image: url('icon_warning.png'); /** sprite-ref: icons; */
}
.sand .jsWTIconWorking {
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	background-image: url('icon_working.gif');
}
