/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.jswt.Tree
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
 
/** sprite: tree; sprite-image: url('sprite-tree.png'); sprite-layout: horizontal; */

.sand ul.jsWTTree {
	border: none;
	overflow: auto;
	background-color: #FFF; /*#EAE6D6*/
	padding: 0;
}

.sand .jsWTTabClientArea div[role=tabpanel] > .jsWTTree {
	border: 0;
}

.sand ul.jsWTTree li .jsWTCheckbox {
	margin: 3px 5px 0 1px;
	float: left;
}

.sand ul.jsWTTree li span.text {
	background-color: #FFF;
	color: #000;
	font-family: Verdana;
	font-size: 85%;
	line-height: 18px;
	padding: 1px 3px;
}

.sand ul.jsWTTree li img {
	margin-right: 3px;
	vertical-align: middle;
	float: left;
	margin-left: 2px;
}

.sand ul.jsWTTreeFullSelection li span.text {
	display: block;
	line-height: 16px;
	margin-left: 18px;
}

/* === Selected Item === */
/* Inactive */
.sand ul.jsWTTree li[aria-selected=true] > span.text {
	background-color: #E1E0D9;
	color: #000;
}

/* Active */
.sand ul.jsWTTree:focus li[aria-selected=true] > span.text  {
	background-color: #EAE6D6;
	color: #000;
}

/* --- checkbox & image --- */
.sand ul.jsWTTree li[aria-selected=true] > span.jsWTCheckbox,
.sand ul.jsWTTreeFullSelection li[aria-selected=true] > img  {
	opacity: 0.7;
	background-color: #E1E0D9;
}

.sand ul.jsWTTree:focus li[aria-selected=true] > span.jsWTCheckbox,
.sand ul.jsWTTreeFullSelection:focus li[aria-selected=true] > img {
	opacity: 0.7;
	background-color: #EAE6D6;
}

/* === Active Item === */
.sand ul.jsWTTree:focus li span.active {
	outline: 1px dotted #000;
}

.sand ul.jsWTTreeFullSelection:focus li span.active {
	margin: 0 1px 0 18px;
	line-height: 16px;
}

/* === Lines === */
.sand .jsWTTreeLines ul.bottom {
	background-image: none;
}

.sand .jsWTTreeLines li.bottom {
	background-image: url('joinbottom.gif'); /** sprite-ref: tree; */
}

.sand .jsWTTreeLines li {
	background-image: url('join.gif'); /** sprite-ref: tree; */
}

/* Toggler */
.sand ul.jsWTTree li span.togglerExpanded {
	background-image: url('collapse.gif'); /** sprite-ref: tree; */
}

.sand ul.jsWTTree li span.togglerCollapsed {
	background-image: url('expand.gif'); /** sprite-ref: tree; */
}

.sand .jsWTTreeLines ul {
	background-repeat: repeat-y;
	background-image: url('line.gif'); /** sprite-ref: tree; sprite-alignment: repeat; */
}