@CHARSET "UTF-8";

/*
-- sand --

Color Palette
light
EADB98	CCC8BA	9C9577	
EAE3C1	AFAA91	4E4A3B	
EAE6D6			23211A
				  dark


							Background	Color
Widget: 					#EAE6D6		#000
Item Selected (Active): 	#9C9577		#FFF
Item Selected (Inactive): 	#CCC8BA		#000
Alternative:				#AFAA91		#23211A
*/

/** sprite: icons; sprite-image: url('sprite-icons.png');*/
/** sprite: misc; sprite-image: url('sprite-misc.png');*/
/** sprite: stone-mud; sprite-image: url('sprite-stone-mud.png'); sprite-layout: vertical; */
/** sprite: stone-sand; sprite-image: url('sprite-stone-sand.png'); sprite-layout: vertical; */
/** sprite: menu; sprite-image: url('sprite-menu.png');*/
/** sprite: button; sprite-image: url('sprite-button.png'); */

@import url('../../gara.css');
@import url('jsWTCheckbox.css');
@import url('jsWTList.css');
@import url('jsWTTree.css');
@import url('jsWTTabFolder.css');
@import url('jsWTTable.css');
@import url('jsWTMenu.css');
@import url('jsWTButton.css');
@import url('jsWTText.css');
@import url('jsWTLabel.css');
@import url('jsWTDialog.css');
