/*
-- sand --

Color Palette
light
EADB98	CCC8BA	9C9577	
EAE3C1	AFAA91	4E4A3B	
EAE6D6			23211A
dark


Background	Color
Widget: 					#EAE6D6		#000
Item Selected (Active): 	#9C9577		#FFF
Item Selected (Inactive): 	#CCC8BA		#000
Alternative:				#AFAA91		#23211A

New Colors (May 2010):
Control-Widget				#FFF		#000
Item Selected (active):		#EAE6D6		#000
Item Selected (inactive):	#E1E0D9		#000
*/
/** sprite: icons; sprite-image: url('sprite-icons.png');*/
/** sprite: misc; sprite-image: url('sprite-misc.png');*/
/** sprite: stone-mud; sprite-image: url('sprite-stone-mud.png'); sprite-layout: vertical; */
/** sprite: stone-sand; sprite-image: url('sprite-stone-sand.png'); sprite-layout: vertical; */
/** sprite: menu; sprite-image: url('sprite-menu.png');*/
/** sprite: button; sprite-image: url('sprite-button.png'); sprite-layout: vertical; */
/* gara Styles */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * gara Reset & Fonts 
 * based on YUI-Resets-Fonts (v2.2.2) Copyright (c) 2007, Yahoo! Inc. (BSD-License)
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.gara div,
div.gara,
.gara ul,
ul.gara,
.gara li,
li.gara,
.gara input,
input.gara,
.gara textarea,
textarea.gara,
.gara td,
.gara th {
  margin: 0;
  padding: 0;
}
.gara img {
  border: 0;
}
ul.gara {
  list-style: none;
}
.gara th {
  text-align: left;
  font-style: normal;
  font-weight: normal;
}
.gara {
  font: 13px arial, helvetica, clean, sans-serif;
  *font-size: small;
  *font: x-small;
}
.gara table, table.gara {
  font-size: inherit;
  font: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.gara select,
select.gara,
.gara input,
input.gara,
.gara textarea,
textarea.gara {
  font: 99% arial, helvetica, clean, sans-serif;
}
.gara * {
  line-height: 1.22em;
}
.gara *[tabindex="-1"] {
  outline: none;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara application
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
html.gara[role=application] {
  height: 100%;
}
html.gara[role=application] body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.widgets.Control
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.gara-control {
  position: relative;
  box-sizing: border-box;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.widgets.Label
 * gara.widgets.Composite
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.gara-label, .gara-composite {
  cursor: default;
  overflow: auto;
  outline: none;
  /*user-select: none;*/

}
.gara-label {
  display: block;
}
.gara-composite {
  width: 100%;
  height: 100%;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.widgets.Scrollable
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.gara-scrollable {
  overflow: auto;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.widgets.Decorations
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.gara-decorations {
  outline: none;
  overflow: hidden;
}
.gara-decorations-client-area {
  box-sizing: border-box;
  overflow: auto;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.widgets.Shell
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.gara-shell {
  position: absolute;
  width: auto;
  height: auto;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.widgets.List
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.gara-list {
  cursor: default;
  overflow: auto;
  outline: none;
  user-select: none;
}
.gara-list .gara-list-item {
  list-style-type: none;
}
.gara-list .gara-checkbox {
  float: left;
}
.gara-List-item-text {
  white-space: nowrap;
  width: auto;
}
.gara-list-item-image {
  vertical-align: middle;
  margin-right: 3px;
}
.gara-list-fullselection .gara-list-item-text {
  display: block;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.widgets.Tree
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.gara-tree {
  cursor: default;
  overflow: auto;
  outline: none;
  user-select: none;
}
.gara-tree-item {
  overflow: visible;
  list-style-type: none;
  white-space: nowrap;
}
.gara-tree-item-childcontainer {
  overflow: visible;
  clear: left;
}
.gara-tree-item-text {
  white-space: nowrap;
  width: auto;
}
.gara-tree-item-toggler {
  display: inline-block;
  float: left;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.widgets.Table
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.gara-table {
  position: relative;
  cursor: default;
  overflow: hidden;
  user-select: none;
  /*table tbody {
		/*overflow-y: auto;*
		overflow-y: hidden;
		overflow-x: auto;
	}*/

  /* Shadow Table (when reordering columns)*/

}
.gara-table table {
  border-collapse: collapse;
  border-spacing: 0 0;
  table-layout: fixed;
}
.gara-table-scroller {
  overflow-y: auto;
}
.gara-table-head {
  top: 0;
  left: 0;
  position: relative;
}
.gara-table-columnresizer {
  margin: -3px -3px -3px 0;
  float: right;
  width: 6px;
  cursor: ew-resize;
}
.gara-table-head-column:last-child-columnresizer {
  display: none;
}
.gara-table-resizeline {
  display: none;
  width: 1px;
  position: absolute;
  bottom: 0;
}
.gara-table-item-cellwrapper {
  overflow: hidden;
  text-overflow: ellipsis;
}
.gara-table-shadow {
  position: absolute;
  opacity: 0.3;
  z-index: 450;
}
.gara-table-shadow-arrow {
  display: none !important;
}
.gara-table-shadow-scroller {
  overflow: hidden;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.widgets.TabFolder
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.gara-tabfolder {
  position: relative;
}
.gara-tabfolder-more {
  position: absolute;
}
.gara-tabfolder-bar {
  margin-left: 0;
  padding-left: 0;
  cursor: default;
  outline: none;
  user-select: none;
}
.gara-tabfolder-clientarea {
  overflow: hidden;
  position: relative;
}
.gara-tabfolder-clientarea div[role=tabpanel] {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.widgets.Menu
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.gara-menu {
  margin: 0;
  padding: 0;
  background-image: none;
  outline: none;
  cursor: default;
  user-select: none;
}
.gara-menu-dropdown, .gara-menu-popup {
  z-index: 500;
}
.gara-menu-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  position: relative;
  /* Reset. Anyways the menu inherits styles from controls */

}
.gara-menu-item-text {
  padding: 0;
  margin: 0;
}
.gara-menu-item-image {
  vertical-align: middle;
  margin-right: 3px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.widgets.Button
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.gara-button {
  cursor: default;
  overflow: auto;
  outline: none;
  user-select: none;
  vertical-align: baseline;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara checkbox
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.sand .gara-checkbox {
  display: block;
  width: 13px;
  height: 13px;
  background-image: url('checkbox.png');
  /** sprite-ref: checkbox; */
}
.sand .gara-checkbox-grayed {
  background-image: url('checkbox-grayed.png');
  /** sprite-ref: checkbox; */

}
.sand .gara-checkbox-checked {
  background-image: url('checkbox-checked.png');
  /** sprite-ref: checkbox; */

}
.sand .gara-checkbox-grayed-checked {
  background-image: url('checkbox-grayed-checked.png');
  /** sprite-ref: checkbox; */

}
/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.gara.Text
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.sand .garaText, .sand .garaPassword, .sand .garaMultiText {
  /*font-size: 0.8em;
	margin-right: 5px;*/

}
/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.gara.List
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.sand .gara-list {
  border: none;
  overflow: auto;
  background-color: #FFF;
  /*#EAE6D6*/

  /* === Selection === */

  /* --- checkbox & image --- */

  /* === Active Item State === */

}
.sand .gara-list .gara-checkbox {
  margin: 2px 5px 0 5px;
}
.sand .gara-list-item-image {
  vertical-align: top;
}
.sand .gara-list-item-text {
  background-color: #FFF;
  color: #000;
  font-family: Verdana;
  font-size: 85%;
  line-height: 18px;
  padding: 1px 3px;
}
.sand .gara-list-fullselection-item-image {
  float: left;
  margin: 1px 3px 0 1px;
}
.sand .gara-list-fullselection-item-text {
  padding: 0;
  padding-left: 2px;
}
.sand .gara-list-item[aria-selected=true] .gara-list-item-text {
  background-color: #E1E0D9;
  color: #000;
}
.sand .gara-list:focus-item[aria-selected=true] .gara-list-item-text {
  background-color: #EAE6D6;
  color: #000;
}
.sand .gara-list-item[aria-selected=true] .gara-checkbox, .sand .gara-list-fullselection .gara-list-item[aria-selected=true] .gara-list-item-image {
  opacity: 0.7;
  background-color: #E1E0D9;
}
.sand .gara-list:focus-item[aria-selected=true] .gara-checkbox, .sand .gara-list-fullselection:focus .gara-list-item[aria-selected=true] .gara-list-item-image {
  opacity: 0.7;
  background-color: #EAE6D6;
}
.sand .gara-list:focus .gara-item-active-item-text {
  outline: 1px dotted #000;
  padding: 0 2px;
  margin-left: 1px;
}
.sand .gara-list-fullselection:focus .gara-item-active .gara-list-item-text {
  margin: 1px;
  line-height: 16px;
  padding-left: 1px;
  /*padding: 1px 3px 1px 1px;*/

}
.sand .gara-list-fullselection:focus .gara-item-active .gara-list-item-image {
  margin-top: 0;
}
.sand .gara-list-fullselection:focus .gara-item-active .gara-checkbox {
  margin: 1px 5px 0;
}
.sand .gara-border > .gara-decorations-clientarea > .gara-list, .sand .gara-tabfolder-clientarea div[role=tabpanel] > .gara-list {
  border: 0;
}
/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.gara.Tree
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
/** sprite: tree; sprite-image: url('sprite-tree.png'); sprite-layout: horizontal; */
.sand .garaTree {
  border: none;
  overflow: auto;
  background-color: #FFF;
  /*#EAE6D6*/

  background-repeat: repeat-y;
  padding: 0;
}
.sand .garaBorder > .garaDecorationsClientArea > .garaTree, .sand .garaTabClientArea div[role=tabpanel] > .garaTree {
  border: 0;
}
.sand .garaTree .garaCheckbox {
  margin: 2px 5px 0 1px;
  float: left;
}
.sand .garaTreeItemToggler {
  width: 18px;
  height: 18px;
  max-height: 18px;
}
.sand .garaTreeItem {
  background-image: none;
  background-repeat: no-repeat;
  position: relative;
  min-height: 18px;
}
.sand .garaTreeItemChildContainer {
  padding-left: 18px;
}
.sand .garaTreeItemText {
  background-color: #FFF;
  color: #000;
  font-family: Verdana;
  font-size: 85%;
  line-height: 18px;
  padding: 1px 3px;
}
.sand .garaTreeItemImage {
  vertical-align: middle;
  float: left;
  margin: 0 3px 0 2px;
}
.sand .garaTreeFullSelection .garaTreeItemImage {
  margin-top: 1px;
}
.sand .garaTreeFullSelection .garaTreeItemText {
  display: block;
  line-height: 16px;
  margin-left: 18px;
}
/* === Selected Item === */
/* Inactive */
.sand .garaTreeItem[aria-selected=true] > .garaTreeItemText {
  background-color: #E1E0D9;
  color: #000;
}
/* Active */
.sand .garaTree:focus .garaTreeItem[aria-selected=true] > .garaTreeItemText {
  background-color: #EAE6D6;
  color: #000;
}
/* --- checkbox & image --- */
.sand .garaTreeItem[aria-selected=true] > .garaCheckbox, .sand .garaTreeFullSelection .garaTreeItem[aria-selected=true] > .garaTreeItemImage {
  opacity: 0.7;
  background-color: #E1E0D9;
}
.sand .garaTree:focus .garaTreeItem[aria-selected=true] > .garaCheckbox, .sand .garaTreeFullSelection:focus .garaTreeItem[aria-selected=true] > .garaTreeItemImage {
  opacity: 0.7;
  background-color: #EAE6D6;
}
/* === Active Item === */
.sand .garaTree:focus .garaActiveItem > .garaTreeItemText {
  outline: 1px dotted #000;
  padding: 0 2px;
  margin-left: 1px;
}
.sand .garaTree:focus .garaActiveItem > .garaTreeItemImage {
  margin-top: 0;
}
.sand .garaTreeFullSelection:focus .garaActiveItem {
  padding-top: 1px;
  margin-bottom: -1px;
}
.sand .garaTree:focus .garaActiveItem.garaTreeItemExpanded {
  margin-bottom: 0;
}
.sand .garaTreeFullSelection:focus .garaActiveItem > .garaCheckbox {
  margin-top: 2px;
}
.sand .garaTreeFullSelection:focus .garaActiveItem > .garaTreeItemToggler {
  margin-top: -1px;
  /*	height: 17px;*/

}
/*.sand .garaTree:focus .garaActiveItem + .garaTreeItem > .garaTreeItemToggler {
	height: 17px;
}*/
.sand .garaTreeFullSelection:focus .garaActiveItem > .garaTreeItemText {
  margin: 0 1px 1px 18px;
  line-height: 16px;
  padding: 0 3px;
}
/* === Lines === */
.sand .garaTreeNoLines .garaTreeItemChildContainer, .sand .garaTreeNoLines .garaLastTreeItem {
  background-image: none;
}
.sand .garaTreeLines .garaLastTreeItem > .garaTreeItemChildContainer {
  background-image: none;
}
.sand .garaTreeLines .garaTreeItem {
  background-image: url('join.gif');
  /** sprite-ref: tree; */

}
.sand .garaTreeLines .garaLastTreeItem {
  background-image: url('joinbottom.gif');
  /** sprite-ref: tree; */

}
/* Toggler */
.sand .garaTreeItemExpanded > .garaTreeItemToggler {
  background-image: url('collapse.gif');
  /** sprite-ref: tree; */

}
.sand .garaTreeItemCollapsed > .garaTreeItemToggler {
  background-image: url('expand.gif');
  /** sprite-ref: tree; */

}
.sand .garaTreeLines .garaTreeItemChildContainer {
  background-repeat: repeat-y;
  background-image: url('line.gif');
  /** sprite-ref: tree; sprite-alignment: repeat; */

}
/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.gara.TabFolder
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.sand .garaTabFolder {
  position: relative;
  outline: none;
}
.sand .garaTabFolder .garaTabFolderMore {
  position: absolute;
  display: block;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid transparent;
  width: 10px;
  font-size: 77%;
  z-index: 202;
  background: 1px 1px no-repeat transparent;
  background-image: url('more.png');
  /** sprite-ref: misc; sprite-margin-left: 1px; sprite-margin-top: 1px;*/

  padding-left: 9px;
  padding-top: 4px;
  cursor: default;
  margin-left: 5px;
}
.sand .garaTabFolder .garaTabFolderMore:hover {
  border-color: #765;
  background-color: #EAE6D6;
}
.sand .garaTabFolder:focus .garaTabFolderBar .garaActiveItem .garaTabItemText {
  outline: 1px dotted #000;
}
.sand .garaTabFolder .garaDecorationsCloseButton {
  visibility: hidden;
}
.sand .garaTabFolder .garaDecorationsCloseButton:hover {
  background-image: url('close_hover.png');
  /** sprite-ref: misc; */

}
.sand .garaTabFolderBar .garaActiveItem .garaDecorationsCloseButton, .sand .garaTabFolderBar .garaTabItem:hover .garaDecorationsCloseButton {
  visibility: visible;
}
/*
.sand .garaTabFolder .garaTabClientArea {
	overflow: auto;
}*/
/*
 * Top Style
 */
.sand .garaTabFolderTopbar .garaTabFolderMore {
  top: 3px;
  right: 5px;
}
.sand .garaTabFolderTopbar .garaTabFolderBar {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 25px;
  border-bottom: 1px solid #B6AD87;
  /*#000*/

  position: relative;
  z-index: 1;
}
.sand .garaTabFolderTopbar .garaTabItem {
  cursor: default;
  float: left;
  background: no-repeat left top;
  background-image: url('stone_mud_left.png');
  /** sprite-ref: stone-mud; */

  margin: 0;
  padding: 0 0 0 9px;
  border-bottom: 1px solid #B6AD87;
  /*#765*/

  position: relative;
  z-index: 2;
  /*bottom: 0;*/

}
.sand .garaTabFolderTopbar .garaTabItemDoor {
  float: left;
  display: block;
  /*	width: .1em;*/

  background: no-repeat right top;
  background-image: url('stone_mud_right.png');
  /** sprite-ref: stone-mud; sprite-alignment: right;*/

  padding: 5px 15px 4px 6px;
  font-weight: bold;
  color: #765;
  white-space: nowrap;
  width: auto;
}
.sand .garaTabFolderTopbar .garaDecorationsCloseButton {
  margin: 1px 0 0 5px;
}
.sand .garaTabFolderTopbar .garaTabItemImage {
  float: left;
  display: block;
  padding-right: 3px;
  margin-left: -6px;
}
/*.sand div.garaTabFolderTopbar ul.garaTabFolderBar > ul .door {width:auto;}*/
.sand .garaTabFolderTopbar > .garaTabFolderBar > .garaActiveItem {
  background-image: url('stone_sand_left.png');
  /** sprite-ref: stone-sand; */

  border-width: 0;
}
.sand .garaTabFolderTopbar > .garaTabFolderBar > .garaActiveItem .garaTabItemDoor {
  background-image: url('stone_sand_right.png');
  /** sprite-ref: stone-sand; sprite-alignment: right;*/

  padding-bottom: 5px;
}
.sand .garaTabFolderTopbar > .garaTabFolderBar > .garaTabItem:hover {
  background-image: url('stone_sand_left.png');
  /** sprite-ref: stone-sand; */

}
.sand .garaTabFolderTopbar > .garaTabFolderBar > .garaTabItem:hover .garaTabItemDoor {
  background-image: url('stone_sand_right.png');
  /** sprite-ref: stone-sand; sprite-alignment: right;*/

}
/* safari 3 */
@media all and (min-width:0px) {
  body:not(:root:root) .sand .garaTabFolderTopbar .garaTabFolderBar {
    height: 24px;
  }
  body:not(:root:root) .sand .garaTabFolderTopbar .garaTabItemDoor {
    font-weight: normal;
  }
}
/* safari 4 */@media screen and (-webkit-min-device-pixel-ratio:0) {
  .sand .garaTabFolderTopbar .garaTabFolderBar {
    height: 24px;
  }
}
.sand .garaTabFolderTopbar .garaTabClientArea {
  border: 1px solid #B6AD87;
  /*#000*/

  border-width: 0px 1px 1px 1px;
  top: 0 !important;
  top: -1px;
  position: relative;
  z-index: 0;
}
/*
 * Bottom Style
 */
.sand .garaTabFolderBottombar .garaTabFolderBar {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 25px;
  border-top: 1px solid #000;
  position: relative;
}
.sand .garaTabFolderBottombar .garaTabItem {
  cursor: default;
  float: left;
  background: no-repeat left bottom;
  background-image: url('stone_mud_left_bottom.png');
  /** sprite-ref: stone-mud; */

  margin: 0;
  padding: 0 0 0 9px;
  border-top: 1px solid #765;
  position: relative;
  top: -1px;
}
.sand .garaTabFolderBottombar .garaTabItemDoor {
  float: left;
  display: block;
  /*	width:.1em;*/

  background: no-repeat right bottom;
  background-image: url('stone_mud_right_bottom.png');
  /** sprite-ref: stone-mud; sprite-alignment: right; */

  padding: 3px 15px 7px 6px;
  font-weight: bold;
  color: #765;
  white-space: nowrap;
  width: auto;
}
.sand .garaTabFolderBottombar .garaTabItemImage {
  float: left;
  display: block;
  padding-top: 3px;
  padding-right: 3px;
}
/*.sand div.garaTabFolderBottombar ul.garaTabFolderBar > ul .door {width:auto;}*/
.sand .garaTabFolderBottombar > .garaTabFolderBar > .garaActiveItem {
  background-image: url('stone_sand_left_bottom.png');
  /** sprite-ref: stone-sand;*/

  border-width: 0;
}
.sand .garaTabFolderBottombar > .garaTabFolderBar > .garaActiveItem .garaTabItemDoor {
  background-image: url('stone_sand_right_bottom.png');
  /** sprite-ref: stone-sand; sprite-alignment: right; */

  padding-top: 4px;
  padding-bottom: 7px;
}
.sand .garaTabFolderBottombar > .garaTabFolderBar > .garaActiveItem .garaTabItemImage {
  padding-top: 4px;
}
.sand .garaTabFolderBottombar > .garaTabFolderBar > .garaTabItem:hover {
  background-image: url('stone_sand_left_bottom.png');
  /** sprite-ref: stone-sand;*/

}
.sand .garaTabFolderBottombar > .garaTabFolderBar > .garaTabItem:hover .garaTabItemDoor {
  background-image: url('stone_sand_right_bottom.png');
  /** sprite-ref: stone-sand; sprite-alignment: right; */

  padding-bottom: 7px;
}
/* safari 3 */
@media all and (min-width:0px) {
  /*body:not(:root:root) .sand div.garaTabFolderBottombar ul.garaTabFolderBar {
  		height: 26px;
  	}*/
  body:not(:root:root) .sand .garaTabFolderBottombar .garaTabIteDoor {
    padding-bottom: 8px;
  }
  body:not(:root:root) .sand .garaTabFolderBottombar .garaTabItemDoor {
    font-weight: normal;
  }
}
.sand .garaTabFolderBottombar .garaTabClientArea {
  border: 1px solid #000;
  border-width: 1px 1px 0 1px;
  position: relative;
  z-index: 200;
}
/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.widgets.Table
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.sand .garaTable {
  outline: none;
  border: none;
}
.sand .garaBorder > .garaDecorationsClientArea > .garaTable, .sand .garaTabClientArea div[role=tabpanel] > .garaTable {
  border: 0;
}
.sand .garaTableScroller {
  background-color: #FFF;
  /*#EAE6D6*/

  color: #000;
}
.sand .garaTableArrow {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 24px;
  background-repeat: repeat-x;
  background-image: url('button-bar.png');
  /** sprite-ref: button; sprite-alignment: repeat; */

  border-left: 1px solid #B6AD87;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.sand .garaTableArrow span {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center 10px;
  background-repeat: no-repeat;
  background-image: url('arrow_down.png');
  /** sprite-ref: misc; sprite-align: center; sprite-margin-top: 10px; sprite-margin-left: 4px; */

}
.sand .garaTableResizeLine {
  background-color: #B6AD87;
  margin-left: -1px;
}
/**
 * Items (General)
 */
.sand .garaTable th, .sand .garaTable td {
  font-family: Verdana;
  font-size: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sand .garaTableItemText {
  line-height: 17px;
  padding: 1px 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/**
 * Head
 */
.sand .garaTableHead {
  cursor: default;
  width: 100%;
  top: 0;
}
.sand .garaTableHeadRow {
  height: 24px;
  background-repeat: repeat-x;
  background-image: url('button-bar.png');
  /** sprite-ref: button; sprite-alignment: repeat; */

  position: absolute;
  left: 0;
  right: 0;
}
.sand .garaTableHeadColumn {
  padding: 2px;
  color: #000;
  border-right: 1px solid #B6AD87;
  cursor: default;
  border-spacing: 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sand .garaTableColumnText {
  line-height: 18px;
}
.sand .garaTableHorizontalOverflow .garaTableHeadColumn:last-child {
  border-right: none;
}
.sand .garaTableColumnResizer {
  height: 24px;
}
.sand .garaTableHeadCheckboxColumn {
  width: 13px;
  height: 24px;
  padding: 2px 5px;
  position: relative;
  border-spacing: 0 0;
  border-right: 1px solid #B6AD87;
}
/* Resize, when borders are around */
.sand .garaBorder > .garaDecorationsClientArea > .garaTable .garaTableHeadRow,
.sand .garaTabClientArea div[role=tabpanel] > .garaTable .garaTableHeadRow,
.sand .garaBorder .garaTableHeadRow,
.sand .garaBorder > .garaDecorationsClientArea > .garaTable .garaTableArrow,
.sand .garaTabClientArea div[role=tabpanel] > .garaTable .garaTableArrow,
.sand .garaBorder .garaTableArrow {
  height: 23px;
  background-repeat: repeat-x;
  background-image: url('button-bar-border-bottom.png');
  /** sprite-ref: button; sprite-alignment: repeat;*/

}
.sand .garaBorder > .garaDecorationsClientArea > .garaTable .garaTableColumnResizer,
.sand .garaTabClientArea div[role=tabpanel] > .garaTable .garaTableColumnResizer,
.sand .garaBorder .garaTableHeadRow .garaTableColumnResizer,
.sand .garaBorder > .garaDecorationsClientArea > .garaTable .garaTableHeadCheckboxColumn,
.sand .garaTabClientArea div[role=tabpanel] > .garaTable .garaTableHeadCheckboxColumn,
.sand .garaBorder .garaTableHeadRow .garaTableHeadCheckboxColumn {
  height: 23px;
}
/*.sand .garaBorder .garaTableHeadColumn .text {
	line-height: 16px;
}*/
/**
 * Items
 */
.sand .garaTableLines .garaTableItemCell {
  border-bottom: 1px solid #A1A1A1;
}
.sand .garaTableLines .garaTableItemCell:last-child .garaTableItemCellWrapper {
  border-right: 1px solid #A1A1A1;
}
.sand .garaTableShadow .garaTableItemCellWrapper, .sand .garaTableLines.garaTableHorizontalOverflow .garaTableItemCell:last-child .garaTableItemCellWrapper {
  border-right: none;
}
.sand .garaBorder > .garaDecorationsClientArea > .garaTableLines.garaTableVerticalOverflow .garaTableItem:last-child .garaTableItemCell,
.sand .garaTabClientArea div[role=tabpanel] > .garaTableLines.garaTableVerticalOverflow .garaTableItem:last-child .garaTableItemCell,
.sand .garaTableLines.garaBorder.garaTableVerticalOverflow .garaTableItem:last-child .garaTableItemCell,
.sand .garaTableNoLines .garaTableItemCell {
  border-bottom: none;
}
.sand .garaTableItemText {
  line-height: 17px;
}
.sand .garaTableNoLines .garaTableItemText {
  line-height: 18px;
}
.sand .garaTableFullSelection .garaTableItemText {
  display: block;
  margin: 0;
  padding: 0 1px 0 2px;
}
.sand .garaTableItemImage {
  float: left;
  margin: 1px 3px 0 1px;
}
.sand .garaCheckboxCell {
  padding: 0 5px;
  width: 13px;
}
/* === Selection === */
/* Inactive */
.sand .garaTable .garaTableItem[aria-selected=true] .garaTableItemCell.garaFirstTableItemCell .garaTableItemText {
  background-color: #E1E0D9;
}
/* Active */
.sand .garaTable:focus .garaTableItem[aria-selected=true] .garaTableItemCell.garaFirstTableItemCell .garaTableItemText {
  background-color: #EAE6D6;
  color: #000;
}
/* === Full Selection === */
/* --- Inactive --- */
.sand .garaTableFullSelection .garaTableItem[aria-selected=true] .garaTableItemCell {
  background-color: #E1E0D9;
}
/* --- Active --- */
.sand .garaTableFullSelection:focus .garaTableItem[aria-selected=true] .garaTableItemCell {
  background-color: #EAE6D6;
  color: #000;
}
/* --- checkbox & image --- */
.sand .garaTable .garaTableItem[aria-selected=true] .garaCheckbox, .sand .garaTable.garaTableFullSelection .garaTableItem[aria-selected=true] img {
  opacity: 0.7;
  background-color: #E1E0D9;
}
.sand .garaTable:focus .garaTableItem[aria-selected=true] .garaCheckbox, .sand .garaTable.garaTableFullSelection:focus .garaTableItem[aria-selected=true] img {
  opacity: 0.7;
  background-color: #EAE6D6;
}
/* === Active Item State === */
.sand .garaTable:focus .garaActiveItem .garaFirstTableItemCell .garaTableItemText {
  outline: 1px dotted #000;
  padding: 0 2px;
  margin-left: 1px;
}
.sand .garaTableLines:focus .garaActiveItem .garaFirstTableItemCell .garaTableItemText {
  margin-right: 1px;
}
.sand .garaTableNoLines:focus .garaActiveItem .garaFirstTableItemCell .garaTableItemText {
  margin: 1px;
  line-height: 18px;
}
.sand .garaTableFullSelection:focus .garaActiveItem .garaFirstTableItemCell .garaTableItemText {
  margin: 1px;
  line-height: 16px;
  padding-left: 1px;
}
.sand .garaTableLines.garaTableFullSelection:focus .garaActiveItem .garaFirstTableItemCell .garaTableItemText {
  line-height: 15px;
}
.sand .garaTableFullSelection:focus .garaActiveItem .garaFirstTableItemCell .garaTableItemImage {
  margin-right: 4px;
}
/*.sand .garaTableFullSelection:focus .garaActiveItem .garaFirstTableItemCell {
	outline: 1px dotted #DD0;
	background: #f00;
}*/
/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.gara.Menu
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.sand .garaMenu {
  margin: 0;
  padding: 0;
  background: none;
}
.sand .garaMenuItem {
  border: 0;
  background: none;
  padding: 0 5px;
}
.sand .garaMenuItemImage {
  margin-top: -2px;
  padding: 1px 0;
}
.sand .garaMenuItemText {
  line-height: 18px;
  font-size: 11px;
  font-family: Verdana;
  border: none;
  padding: 0;
  margin: 0;
}
.sand .garaMenu .garaActiveItem {
  background-color: #B6AA8A;
  color: #F7F3E4;
}
.sand .garaMenuItem[aria-disabled=true] > .garaMenuItemButton .garaMenuItemText {
  color: #777;
}
.sand .garaMenuItem[aria-disabled=true] > .garaMenuItemButton .garaMenuItemImage {
  opacity: 0.5;
}
.sand .garaMenuBar {
  margin: 0;
  padding: 0;
  background-image: none;
  background-color: #E2DED0;
  /* #CCC8BA */

  height: 22px;
  border-bottom: 1px solid #B6AA8A;
}
.sand .garaMenuBar .garaMenuItem {
  float: left;
  position: relative;
}
.sand .garaMenuBar .garaMenuItemText {
  line-height: 21px;
}
.sand .garaMenuPopUp, .sand .garaMenuDropDown {
  margin: 0;
  padding: 2px;
  background-image: none;
  background-color: #E2DED0;
  color: #000;
  border: 1px solid #B7AE88;
  min-width: 150px;
}
.sand .garaMenuPopUp .garaMenuItem, .sand .garaMenuDropDown .garaMenuItem {
  background-image: none;
  float: none;
}
.sand .garaMenuPopUp .garaMenuItemText, .sand .garaMenuDropDown .garaMenuItemText {
  border: none;
  padding: 0;
  margin: 0;
  line-height: 18px;
}
.sand .garaMenuBar .garaMenuDropDown {
  margin-left: -1px !important;
  margin-top: 0 !important;
  margin-top: 18px;
  white-space: nowrap;
  left: 1px;
}
.sand .garaMenuItemCheck, .sand .garaMenuItemRadio {
  background-repeat: no-repeat;
  padding-left: 14px;
}
.sand .garaMenuItemCheck[aria-checked=true] {
  background-position: 4px 8px;
  background-image: url('checked.png');
  /** sprite-ref: menu; sprite-margin-left: 4px; sprite-margin-top: 8px; */

}
.sand .garaMenuItemRadio[aria-checked=true] {
  background-position: 5px 8px;
  background-image: url('dot.png');
  /** sprite-ref: menu; sprite-margin-left: 5px; sprite-margin-top: 8px; */

}
/* IE hacks */
.sand .garaMenuBar .garaMenuDropDown {
  *margin-top: 17px !important;
  *margin-top: 16px;
}
.sand .garaMenuBar .garaMenuDropDown .garaMenu {
  *margin-top: 0 !important;
}
/* the chain garaMenuBar garaMenuDropDown is because IE6 needs some readjusment */
.sand .garaMenuBar .garaMenuDropDown .garaMenu, .sand .garaMenuPopUp .garaMenu, .sand .garaMenuDropDown .garaMenu {
  top: -2px;
  left: 145px;
  margin-top: 0;
  margin-left: -3px !important;
}
.sand .garaMenuPopUp .garaMenuItemCascade, .sand .garaMenuDropDown .garaMenuItemCascade {
  /*background-position: right center;*/

  background-position: 135px 6px;
  background-repeat: no-repeat;
  background-image: url('arrow.gif');
  /** sprite-ref: menu; sprite-margin-left: 135px; sprite-margin-top: 8px; */

}
.sand .garaMenuBar .garaMenuItemSeparator {
  border: none;
  width: 5px;
  margin: 0;
  padding: 0;
  height: 21px;
}
.sand .garaMenuPopUp .garaMenuItemSeparator, .sand .garaMenuDropDown .garaMenuItemSeparator {
  background: none;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  border: 0;
}
.sand .garaMenuPopUp .garaMenuItemSeparatorLine, .sand .garaMenuDropDown .garaMenuItemSeparatorLine {
  border: none;
  border-top: 1px solid #BBB;
}
/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * .garaToolbar
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.sand .garaToolbar {
  /*background-color: #EAE6D6; /*#E9E7EB;*/

  background-color: transparent;
  /*#E2DED0 #D9D4C0 #DEDAC9 #E2DED0*/

  height: 24px;
  border-bottom: none;
}
.sand .garaToolbar > .garaMenuItem {
  margin: 1px 2px 1px 0 ;
  padding: 0;
}
.sand .garaToolbar > .garaMenuItemCheck,
.sand .garaToolbar > .garaMenuItemRadio,
.sand .garaToolbar > .garaMenuItemCheck[aria-checked=true],
.sand .garaToolbar > .garaMenuItemRadio[aria-checked=true] {
  background: none;
  padding-left: 0;
}
.sand .garaToolbar > .garaMenuItem > .garaMenuItemButton, .sand .garaToolbar > .garaMenuItem[aria-pressed=false] > .garaMenuItemButton {
  height: 22px;
  display: inline-block;
  background-repeat: no-repeat;
  padding-left: 9px;
}
.sand .garaToolbar > .garaMenuItem > .garaMenuItemButton .garaMenuItemDoor, .sand .garaToolbar > .garaMenuItem[aria-pressed=false] > .garaMenuItemButton .garaMenuItemDoor {
  background-position: right;
  height: 21px;
  line-height: 20px;
  display: inline-block;
  padding: 1px 9px 0 0;
}
.sand .garaToolbar > .garaMenuItem[aria-checked=true] > .garaMenuItemButton {
  border: 1px solid #B6AD87;
  background-color: #FFF;
  border-radius: 7px;
  -moz-border-radius: 7px;
  height: 20px;
  padding-left: 8px;
}
.sand .garaToolbar > .garaMenuItem[aria-checked=true] > .garaMenuItemButton .garaMenuItemDoor {
  padding-top: 0;
  padding-right: 8px;
}
/** hover and active state */
.sand .garaToolbar > .garaActiveItem {
  background-color: transparent;
  color: #000;
}
.sand .garaToolbar > .garaActiveItem > .garaMenuItemButton, .sand .garaToolbar > .garaActiveItem[aria-checked=true] > .garaMenuItemButton, .sand .garaToolbar > .garaMenuItem > .garaMenuItemButton:hover {
  border: none;
  background-color: transparent;
  height: 22px;
  padding-left: 9px;
  background-image: url('button-start.png');
  /** sprite-ref: button; */

}
.sand .garaToolbar > .garaActiveItem > .garaMenuItemButton .garaMenuItemDoor, .sand .garaToolbar > .garaActiveItem[aria-checked=true] > .garaMenuItemButton .garaMenuItemDoor, .sand .garaToolbar > .garaMenuItem > .garaMenuItemButton:hover .garaMenuItemDoor {
  padding-top: 1px;
  padding-right: 9px;
  background-image: url('button-end.png');
  /** sprite-ref: button; sprite-alignment: right;*/

}
/** Pressed state, same as checked state above, hover needs to go between */
.sand .garaToolbar > .garaMenuItem[aria-pressed=true] > .garaMenuItemButton {
  border: 1px solid #B6AD87;
  background-color: #FFF;
  border-radius: 7px;
  -moz-border-radius: 7px;
  height: 20px;
  padding-left: 8px;
  background-image: none;
  /*background-image: url('button-pressed-start.png'); /** sprite -ref: button; */

}
.sand .garaToolbar > .garaMenuItem[aria-pressed=true] > .garaMenuItemButton .garaMenuItemDoor {
  /*background-image: url('button-pressed-end.png'); /** sprite -ref: button; sprite-alignment: right; */

  padding-top: 0;
  padding-right: 8px;
  background-image: none;
}
/*.sand .garaToolbar > .garaActiveItem {
	background-color: #EAE6D6;
	color: #000;
}*/
.sand .garaToolbar > .garaMenuItem[aria-disabled=false].garaActiveItem > .garaMenuItemText {
  outline: 1px dotted #000;
}
.sand .garaToolbar > .garaMenuItem > .garaMenuItemButton .garaMenuItemImage {
  margin: 0 4px 2px 0;
}
.sand .garaToolbar > .garaMenuItem > .garaMenuItemButton .garaMenuItemText {
  line-height: 20px;
}
.sand .garaToolbar > .garaMenuItem[aria-haspopup=true] > .garaMenuItemButton .garaMenuItemText {
  background-repeat: no-repeat;
  background-position: right 6px;
  background-image: url('arrow_down.png');
  padding-right: 10px;
}
.sand .garaToolbar > .garaMenuItem[aria-disabled=true] > .garaMenuItemButton {
  opacity: 0.5;
}
/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.gara.Button
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
/** sprite: checkbox; sprite-image: url('sprite-checkbox.png'); */
/** sprite: radio; sprite-image: url('sprite-radio.png'); */
.sand .garaButtonHorizontal {
  display: inline-block;
}
.sand .garaButtonVertical {
  display: block;
}
.sand .garaButtonPush {
  height: 22px;
  background-repeat: no-repeat;
  background-image: url('button-start.png');
  /** sprite-ref: button; */

  padding-left: 9px;
  outline: none;
  user-select: none;
  -moz-user-select: none;
  margin-right: 5px;
  overflow: hidden;
}
.sand .garaButtonPush .garaButtonDoor {
  background-position: right;
  background-image: url('button-end.png');
  /** sprite-ref: button; sprite-alignment: right;*/

  height: 21px;
  line-height: 20px;
  display: inline-block;
  padding: 1px 9px 0 0;
}
.sand .garaButtonPush[aria-pressed=true] {
  background-image: url('button-pressed-start.png');
  /** sprite-ref: button; */

}
.sand .garaButtonPush[aria-pressed=true] .garaButtonDoor {
  background-image: url('button-pressed-end.png');
  /** sprite-ref: button; sprite-alignment: right; */

}
.sand .garaButtonPush .garaButtonImage {
  margin: 0 4px -3px 0;
}
.sand .garaButtonPush .garaButtonText {
  line-height: 20px;
}
.sand .garaButtonPush[aria-disabled=true] {
  opacity: 0.5;
}
.sand .garaButtonPush[aria-disabled=false]:focus .garaButtonText {
  outline: 1px dotted #000;
}
/* general checkbox & radio styles */
.sand .garaButtonCheckbox, .sand .garaButtonRadio {
  background: no-repeat;
  background-position: 1px 1px;
  padding-left: 17px;
  margin-right: 2px;
  position: relative;
  outline: none;
  user-select: none;
  -moz-user-select: none;
}
.sand .garaButtonCheckbox .garaButtonFocus, .sand .garaButtonRadio .garaButtonFocus {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 13px;
  height: 13px;
}
.sand .garaButtonCheckbox .garaButtonImage, .sand .garaButtonRadio .garaButtonImage {
  margin-right: 2px;
  float: left;
}
.sand .garaButtonCheckbox .garaButtonText, .sand .garaButtonRadio .garaButtonText {
  line-height: 16px;
  display: inline-block;
}
.sand .garaButtonCheckbox[aria-disabled=false]:focus .garaButtonFocus, .sand .garaButtonRadio[aria-disabled=false]:focus .garaButtonFocus {
  outline: 1px dotted #000;
}
/* checkbox images */
.sand .garaButtonCheckbox {
  background-image: url('checkbox.png');
  /** sprite-ref: checkbox; sprite-margin-left: 1px; sprite-margin-top: 2px;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */

}
.sand .garaButtonCheckbox[aria-checked=true] {
  background-image: url('checkbox-checked.png');
  /** sprite-ref: checkbox;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */

}
.sand .garaButtonCheckbox[aria-disabled=true] {
  background-image: url('checkbox-grayed.png');
  /** sprite-ref: checkbox;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */

}
.sand .garaButtonCheckbox[aria-disabled=true][aria-checked=true] {
  background-image: url('checkbox-grayed-checked.png');
  /** sprite-ref: checkbox;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */

}
/* radio images */
.sand .garaButtonRadio {
  background-image: url('radio.png');
  /** sprite-ref: radio;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */

}
.sand .garaButtonRadio[aria-checked=true] {
  background-image: url('radio-checked.png');
  /** sprite-ref: radio;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */

}
.sand .garaButtonRadio[aria-disabled=true] {
  background-image: url('radio-grayed.png');
  /** sprite-ref: radio;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */

}
.sand .garaButtonRadio[aria-disabled=true][aria-checked=true] {
  background-image: url('radio-grayed-checked.png');
  /** sprite-ref: radio;  sprite-margin-left: 1px; sprite-margin-top: 2px; sprite-margin-bottom: 1px; */

}
/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.jswt.Label
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.sand .garaLabel {
  margin-right: 5px;
}
/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.widgets.Decorations
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.sand .gara-border {
  border: 1px solid #B6AD87;
}
.sand .gara-border.gara-decorations {
  border: none;
}
.sand .garaDecorationsTitle {
  /*background: url('left.gif') no-repeat;*/

  line-height: 16px;
  cursor: default;
  background-repeat: no-repeat;
  background-image: url('stone_mud_left.png');
  /** sprite-ref: stone-mud; */

  padding-left: 9px;
  height: 26px;
}
.sand .garaDecorationsTitleText {
  background-repeat: repeat-x;
  background-image: url('stone_mud_bar.png');
  /** sprite-ref: stone-mud; sprite-alignment: repeat; */

  padding: 5px 5px 5px 0;
  line-height: 16px;
  margin-right: 9px;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
.sand .garaDecorationsTitleText img {
  margin-right: 5px;
  vertical-align: bottom;
}
.sand .garaDecorationsTitleRight {
  background: no-repeat right top;
  background-image: url('stone_mud_right.png');
  /** sprite-ref: stone-mud; sprite-alignment: right; */

  width: 9px;
  height: 26px;
  float: right;
}
.sand .garaDecorationsTitleButtons {
  background-repeat: repeat-x;
  background-image: url('stone_mud_bar.png');
  /** sprite-ref: stone-mud; sprite-alignment: repeat; */

  float: right;
  height: 26px;
}
.sand .garaDecorationsCloseButton {
  background-repeat: no-repeat;
  background-image: url('close.png');
  /** sprite-ref: misc; */

  width: 14px;
  height: 14px;
  display: block;
  margin: 6px 0 0 0;
  float: right;
}
.sand .garaDecorationsCloseButtonActive:hover {
  background-image: url('close_hover.png');
  /** sprite-ref: misc; */

}
.sand .garaDecorationsCloseButtonDeactive {
  opacity: 0.5;
}
.sand .garaDecorationsMinButton {
  background-repeat: no-repeat;
  background-image: url('min.png');
  /** sprite-ref: misc; */

  width: 14px;
  height: 14px;
  display: block;
  margin: 6px 3px 0 0;
  float: left;
}
.sand .garaDecorationsMinButtonActive:hover {
  background-image: url('min_hover.png');
  /** sprite-ref: misc; */

}
.sand .garaDecorationsMinButtonDeactive {
  opacity: 0.5;
}
.sand .garaDecorationsMaxButton {
  background-repeat: no-repeat;
  background-image: url('max.png');
  /** sprite-ref: misc; */

  width: 14px;
  height: 14px;
  display: block;
  margin: 6px 3px 0 0;
  float: left;
}
.sand .garaDecorationsMaxButtonActive:hover {
  background-image: url('max_hover.png');
  /** sprite-ref: misc; */

}
.sand .garaDecorationsMaxButtonDeactive {
  opacity: 0.5;
}
.sand .garaDecorationsClientArea {
  background-color: #F7F3E4;
}
.sand .garaBorder > .garaDecorationsMenuBar {
  border: solid #B7AE88;
  border-width: 1px 1px 0 1px;
}
.sand .garaBorder > .garaDecorationsClientArea {
  border: 1px solid #B7AE88;
}
.sand .garaDecorationsMaximized .garaDecorationsMaxButton {
  background-image: url('restore.png');
  /** sprite-ref: misc; */

}
.sand .garaDecorationsMaximized .garaDecorationsMaxButton:hover {
  background-image: url('restore_hover.png');
  /** sprite-ref: misc; */

}
.sand .garaDecorationsMinimized > .garaDecorationsClientArea, .sand .garaDecorationsMinimized > .garaDecorationsMenuBar {
  display: none;
}
.sand .garaDecorationsMinimized {
  width: 180px;
  height: 26px;
}
.sand .garaDecorationsMinimized .garaDecorationsMinButton {
  background-image: url('restore.png');
  /** sprite-ref: misc; */

}
.sand .garaDecorationsMinimized .garaDecorationsMinButton:hover {
  background-image: url('restore_hover.png');
  /** sprite-ref: misc; */

}
.sand .garaResize {
  /*background-color: red;*/

  position: absolute;
  z-index: 100;
}
.sand .garaResizeNNW {
  top: 0;
  left: 0;
  width: 20px;
  height: 3px;
  cursor: nw-resize;
}
.sand .garaResizeWNW {
  top: 0;
  left: 0;
  width: 3px;
  height: 20px;
  cursor: nw-resize;
}
.sand .garaResizeN {
  top: 0;
  left: 20px;
  right: 20px;
  height: 3px;
  cursor: n-resize;
}
.sand .garaResizeNNE {
  top: 0;
  right: 0;
  width: 20px;
  height: 3px;
  cursor: ne-resize;
}
.sand .garaResizeENE {
  top: 0;
  right: 0;
  width: 3px;
  height: 20px;
  cursor: ne-resize;
}
.sand .garaResizeW {
  top: 20px;
  left: 0;
  bottom: 20px;
  width: 3px;
  cursor: w-resize;
}
.sand .garaResizeE {
  top: 20px;
  right: 0;
  bottom: 20px;
  width: 3px;
  cursor: e-resize;
}
.sand .garaResizeSSW {
  bottom: 0;
  left: 0;
  height: 3px;
  width: 20px;
  cursor: sw-resize;
}
.sand .garaResizeWSW {
  bottom: 0;
  left: 0;
  height: 20px;
  width: 3px;
  cursor: sw-resize;
}
.sand .garaResizeS {
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 3px;
  cursor: s-resize;
}
.sand .garaResizeSSE {
  bottom: 0;
  right: 0;
  height: 3px;
  width: 20px;
  cursor: se-resize;
}
.sand .garaResizeESE {
  bottom: 0;
  right: 0;
  height: 20px;
  width: 3px;
  cursor: se-resize;
}
/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.jsface.dialogs.Dialog
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.sand .garaDialogArea {
  /*height: auto;*/

  overflow: hidden;
  padding: 7px;
}
.sand .garaDialogButtonBar {
  height: auto;
  text-align: center;
  padding: 3px;
}
/**
 * Dimensions
 */
.sand .garaInputDialog, .sand .garaMessageDialog {
  /*min-width: 250px;
	min-height: 100px;*/

}
/**
 * Input Dialog
 */
.sand .garaInputDialog .garaLabel {
  display: block;
  padding-bottom: 5px;
}
.sand .garaInputDialog .garaText {
  margin: 0;
}
/**
 * Icons
 */
.sand .garaIconError {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  background-image: url('icon_error.png');
  /** sprite-ref: icons; */

}
.sand .garaIconInformation {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  background-image: url('icon_information.png');
  /** sprite-ref: icons; */

}
.sand .garaIconQuestion {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  background-image: url('icon_question.png');
  /** sprite-ref: icons; */

}
.sand .garaIconWarning {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  background-image: url('icon_warning.png');
  /** sprite-ref: icons; */

}
.sand .garaIconWorking {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  background-image: url('icon_working.gif');
}
/*** * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara.jsface.Layout
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
.garaLoosyLayout .garaRowLayout > .garaControl,
.garaLoosyLayout .garaRowLayout > .garaLayout,
.garaLoosyLayout .garaRowLayout > .garaStub,
.garaLoosyLayout .garaRowLayout > .garaClientArea > .garaControl,
.garaLoosyLayout .garaRowLayout > .garaClientArea > .garaLayout,
.garaLoosyLayout .garaRowLayout > .garaClientArea > .garaStub {
  padding-top: 10px;
}
.garaLoosyLayout .garaRowLayout > .garaControl:first-child,
.garaLoosyLayout .garaRowLayout > .garaLayout:first-child,
.garaLoosyLayout .garaRowLayout > .garaStub:first-child,
.garaLoosyLayout .garaRowLayout > .garaClientArea > .garaControl:first-child,
.garaLoosyLayout .garaRowLayout > .garaClientArea > .garaLayout:first-child,
.garaLoosyLayout .garaRowLayout > .garaClientArea > .garaStub:first-child {
  padding-top: 0;
}
.garaColumnLayout > .garaControl,
.garaColumnLayout > .garaLayout,
.garaColumnLayout > .garaStub,
.garaColumnLayout > .garaClientArea > .garaControl,
.garaColumnLayout > .garaClientArea > .garaLayout,
.garaColumnLayout > .garaClientArea > .garaStub {
  float: left;
}
.garaRowLayout, .garaColumnLayout {
  border-collapse: collapse;
}
.garaClientArea {
  position: relative;
}
.garaStub {
  visibility: hidden;
}
/* Width */
.gara .w25, .w25 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 25%;
  margin: 0;
}
.garaLoosyLayout .w25 {
  width: 24%;
  margin: 0 0.5%;
}
.gara .w50, .w50 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 50%;
  margin: 0;
}
.garaLoosyLayout .w50 {
  width: 49%;
  margin: 0 0.5%;
}
.gara .w75, .w75 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 75%;
  margin: 0;
}
.garaLoosyLayout .w75 {
  width: 74%;
  margin: 0 0.5%;
}
.gara .w33, .w33 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 33.33%;
  margin: 0;
}
.garaLoosyLayout .w33 {
  width: 32.33%;
  margin: 0 0.5%;
}
.gara .w66, .w66 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  width: 66.66%;
  margin: 0;
}
.garaLoosyLayout .w66 {
  width: 65.66%;
  margin: 0 0.5%;
}
/* Height */
.gara .h25, .h25 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  height: 25%;
}
.gara .h50, .h50 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  height: 50%;
}
.gara .h33, .h33 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  height: 33%;
}
.gara .h66, .h66 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  height: 66%;
}
.gara .h100, .h100 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  height: 100%;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * 
 * gara application
 * 
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 */
html.sand[role=application] body {
  background-color: #F7F3E4;
}
