@CHARSET "UTF-8";

body {
	padding: 10px;
}

h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

h2 {
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 20px;
}

fieldset {
	border: 1px solid #777;
	padding: 10px;
}